.header {
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 100vw;
	padding: 1rem calc((100vw - var(--max-width)) / 2);
	position: relative;

	&::after {
		content: '';
		position: absolute;
		width: 100vw;
		height: 5%;
		background-color: var(--secondary);
		top: 100%;
		bottom: 0;
		left: 0;
		right: 0;
	}

	> h1 {
		color: var(--text);
	}

	.login {
		background-color: transparent;
		border-radius: 100vh;
		margin-left: auto;

		aspect-ratio: 1;
	}
}

.display {
	display: none;
}

.popup {
	display: flex;
	flex-direction: column;
}
