.header {
	display: flex;
	align-items: center;
	gap: 1rem;
	width: 100vw;
	padding: 1rem 5vw;
	box-shadow: 0 4px 15px 5px black;

	> h1 {
		color: var(--text);
	}

	> .login {
		background-color: var(--text);
		width: 3rem;
		aspect-ratio: 1;
		border-radius: 100vh;
		margin-left: auto;
	}

	> img {
		width: 7vh;
		height: 7vh;
	}
}
