*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*:disabled {
	opacity: 50%;
}

:root {
	--primary: #1a1a1a;

	--inline-margin: 2rem;
	--border: 1px solid var(--accent);

	--accent: #585858;

	--cta-1: #6c00d0;
	--cta-2: #a800eb;
}

body {
	background-color: #1a1a1a;
	height: 100vh;
	height: 100dvh;
	width: 100vw;
}

.main_content {
	height: 100vh;
	height: 100dvh;
	width: 100vw;
	overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: linear-gradient(45deg, var(--cta-1) 0%, var(--cta-2) 100%) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: linear-gradient(45deg, var(--cta-1) 0%, var(--cta-2) 100%);
	border-radius: 16px;
}
