@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Mulish', sans-serif;
}

*:disabled {
	opacity: 50%;
}

:root {
	--primary: #212121;
	// --primary: #0e1218;
	--secondary: #262626;
	// --secondary: #0e1f39;
	--text: #d3d3d3;
	--secondary-text: white;
	// --secondary-text: #62a0ff;

	--inline-margin: 2rem;
	--border: 1px solid var(--accent);

	--max-width: calc(100vw * 0.67);

	--gradient: linear-gradient(-45deg, var(--cta-2) 0%, var(--cta-1) 100%);

	--accent: #585858;

	--cta-1: #00ff85;
	// --cta-1: #6c00d0;
	--cta-2: #00b3ff;
	// --cta-2: #d000eb;
}

body {
	background-color: var(--primary);
	height: 100vh;
	height: 100dvh;
	width: 100vw;
}

.main_content {
	height: 100vh;
	height: 100dvh;
	width: 100vw;
	overflow-x: hidden;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: linear-gradient(45deg, var(--cta-1) 0%, var(--cta-2) 100%) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: linear-gradient(45deg, var(--cta-1) 0%, var(--cta-2) 100%);
	border-radius: 16px;
}
