.main {
	height: 100vh;
	max-height: 100vh;
	width: 100vw;

	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1rem;
		padding-inline: 1rem;
		width: 100vw;
		height: 10vh;
		box-shadow: 0 4px 15px 5px black;

		> img {
			border-radius: 100vh;
		}

		> section {
			background-color: var(--secondary);
			border-radius: 1rem;
			padding: 0.5rem;

			.buttonGrid {
				display: grid;
				grid-template-columns: repeat(5, auto);
				grid-template-rows: repeat(2, auto);
				background-color: transparent;

				> button {
					font-size: 1rem;
					color: var(--text);
					background: transparent;
					padding: 0.5rem;
				}
			}
		}
	}

	.container {
		max-height: 90vh;
		overflow-y: auto;

		.editor {
			display: flex;
			justify-content: center;
			align-items: center;
			height: fit-content;
			padding: 1rem;
			position: relative;

			> div {
				border: var(--border);
				border-radius: 1rem;
				display: flex;
				position: relative;

				width: 100%;
				aspect-ratio: 1;

				.div {
					width: 1px;
					height: 95%;
					background-color: var(--accent);
					// margin-block: auto;
				}

				.docEdit {
					position: absolute;
					// top: 50%;
					left: 50%;
					translate: -50% 0;
					height: 100%;
					// height: fit-content;
					text-align: left;
					outline: none;
					border: none;
					z-index: 4;
					caret-color: white;
					// color: transparent;
					color: green;
					word-spacing: 51%;
					font-size: 1rem;
				}

				.results {
					position: absolute;
					// top: 50%;
					left: 50%;
					translate: -50% 0;
					display: flex;
					flex-direction: column;
					justify-content: left;
					flex-wrap: wrap;
					// height: fit-content;
					height: 100%;
					z-index: 3;
					color: white;
					caret-color: transparent;

					> div {
						display: flex;
						line-break: anywhere;
						flex-wrap: wrap;

						&:has(.horizontalBar) {
							width: 100%;
							height: 1.3rem;

							hr {
								width: 100%;
								height: 2px;
								margin-block: auto;
								background-color: var(--secondary);
							}
						}
						// line-break: anywhere;

						&.emptyRow {
							width: 0;
							overflow: hidden;
							user-select: none;
							color: transparent;
							height: fit-content;
						}

						> span:not(.space) {
							font-size: 1rem;
							display: flex;
							flex-wrap: wrap;
							line-break: anywhere;
							// display: inline;
							width: fit-content;
							height: fit-content;
							// word-break: break-all;
							// &,
							// > * {
							// 	line-break: anywhere;
							// 	word-break: break-all;
							// }
							// white-space: nowrap;

							&.italic {
								font-style: italic;
							}
							&.bold {
								font-weight: bold;
							}
							&.underLine {
								text-decoration: underline;
							}
							&.inlineCode {
								background-color: #404040;
								color: #ffffff90;
							}
							&.lineThrough {
								text-decoration: line-through;
							}
						}

						> h1,
						h2,
						h3,
						h4,
						h5,
						h6 {
							width: 100%;
						}

						.space {
							display: inline;
							height: 1rem;
							width: 6px;
						}
					}
				}

				.docEdit,
				.results {
					// word-break: break-all;

					border-radius: 1rem;

					padding: 4rem;
					// color: var(--text);
					// caret-color: var(--text);
					outline: none;

					width: 50%;

					background-color: transparent;
					resize: none;

					&:empty::before {
						content: attr(data-placeholder);
						color: #ffffff50;
					}
				}
			}
		}
	}
}

.display {
	display: none;
}

.input {
	position: absolute;
}
