.main {
	height: 100vh;
	max-height: 100vh;

	.header {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		width: 100vw;
		height: 10vh;
		box-shadow: 0 4px 15px 5px black;

		.setColor {
			position: absolute;
			top: 5rem;

			background: var(--gradient);
			padding: 2px;
			border-radius: 1rem;

			> div {
				display: flex;
				flex-direction: column;
				gap: 1rem;

				background-color: var(--primary);

				border-radius: calc(1rem - 1px);

				padding: 1rem;

				.currentColor {
					width: 100%;
					height: 2rem;

					border: var(--border);
				}

				> div {
					display: flex;

					> select {
						background-color: var(--primary);
						border: none;
						outline: none;
						color: var(--text);
						margin-right: 3px;
					}

					> span {
						width: fit-content;
						color: var(--text);
						text-align: center;
					}

					> input {
						padding-inline: 2px;
						margin-left: 3px;
						background-color: var(--primary);
						color: var(--text);
						outline: none;
						border: none;
					}

					> button,
					> div > button {
						padding: 0.7rem;
						border: none;
						outline: none;
						cursor: pointer;
						font-weight: bold;

						&.apply {
							background: var(--gradient);
							color: black;
							margin-left: auto;
							border-radius: 1rem;
						}
					}

					.cancel {
						background: var(--gradient);
						padding: 2px;
						border-radius: 1rem;

						> button {
							background-color: var(--primary);
							color: var(--text);
							border-radius: calc(1rem - 1px);
						}
					}
				}
			}
		}
	}

	.container {
		max-height: 90vh;
		overflow-y: auto;

		.editor {
			display: flex;
			justify-content: center;
			align-items: center;
			height: fit-content;
			padding: 1rem;

			> div {
				border: var(--border);
				border-radius: 1rem;

				padding: 1rem;
				color: var(--text);
				caret-color: var(--text);
				outline: none;

				width: 60vw;
				aspect-ratio: 9/16;

				background-color: transparent;
				resize: none;
			}
		}
	}
}

.display {
	display: none;
}

.input {
	position: absolute;
}
