.container {
	max-height: 92.8vh;
	overflow-y: auto;

	.editor {
		display: flex;
		justify-content: center;
		align-items: center;
		height: fit-content;
		padding: 1rem;

		> div {
			border: var(--border);
			border-radius: 1rem;

			padding: 1rem;
			color: white;
			caret-color: white;
			outline: none;

			width: 60vw;
			aspect-ratio: 9/16;

			background-color: transparent;
			resize: none;
		}
	}
}
