.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 1rem;
	gap: 1rem;

	.main {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 1rem;

		width: fit-content;
		max-width: 55vw;

		&.noUser,
		&.noDocs {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&.noDocs {
			gap: var(--inline-margin);
			padding-block: var(--inline-margin);

			.h4 {
				color: var(--text);
			}

			.newDocument {
				border: none;
			}
		}

		.card {
			display: flex;
			flex-direction: column;

			background-color: var(--secondary);

			padding: 1rem;
			// gap: 1rem;
			border-radius: 2rem;
			text-decoration: none;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				z-index: -1;
				height: 95%;
				width: 95%;
				background: var(--gradient);
				transition: all 0.2s;
				filter: blur(0);
				border-radius: calc(2rem - 2.5%);

				top: 52.5%;
				left: 52.5%;
				translate: -52.5% -52.5%;
			}

			&:hover::before {
				filter: blur(10px);
			}

			> a .img {
				padding: 2rem;
			}

			.info {
				display: flex;
				justify-content: space-between;
				align-items: center;

				> button {
					display: flex;
					align-items: center;
					padding: 1rem;
					border-radius: 100vh;
					background-color: transparent;
					outline: none;
					border: none;
					cursor: pointer;

					height: fit-content;

					position: relative;
					z-index: 0;

					&:hover::after {
						content: '';
						position: absolute;
						z-index: -1;
						background-color: var(--primary);
						width: 100%;
						aspect-ratio: 1;
						top: 50%;
						left: 50%;
						translate: -50% -50%;

						border-radius: 100vh;
					}

					> img {
						background-color: transparent;
					}
				}

				> dialog[open] {
					background-color: var(--secondary);
					border-radius: 1rem;
					display: flex;
					flex-direction: column;
					padding: 1rem;
					gap: 1rem;
				}

				> a {
					display: flex;
					align-items: center;
					text-decoration: none;
					height: 100%;
					width: 100%;

					> p {
						color: var(--text);
					}
				}
			}
		}

		.newDocument {
			background-color: transparent;
			border: none;
			outline: none;

			// aspect-ratio: 178 / 253;
			// padding: 2.8rem;

			cursor: pointer;
		}
	}
}
