.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 1rem;
	gap: 1rem;

	.main {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 1rem;

		width: fit-content;
		max-width: 55vw;

		&.noUser,
		&.noDocs {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		&.noDocs {
			gap: var(--inline-margin);
			padding-block: var(--inline-margin);

			.h4 {
				color: var(--text);
			}

			.newDocument {
				border: none;
			}
		}

		.card .cardLink {
			display: flex;
			flex-direction: column;

			background-color: var(--secondary);

			padding: 1rem;
			// gap: 1rem;
			border-radius: 2rem;
			text-decoration: none;

			.img {
				padding: 2rem;
			}

			.info {
				display: flex;
				justify-content: space-between;
				align-items: center;

				> button {
					padding: 1rem;
					border-radius: 100vh;
					background: transparent;
					outline: none;
					border: none;
					cursor: pointer;
					position: relative;
					z-index: 100;
				}

				> p {
					color: var(--text);
				}
			}
		}

		.newDocument {
			background-color: transparent;
			border: none;
			outline: none;

			// aspect-ratio: 178 / 253;
			// padding: 2.8rem;

			cursor: pointer;
		}
	}
}
